/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1 rem = 10px */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto Slab', serif;
}

/* estilos main */
.banner-home{ 
    display: flex;
    flex-direction: column;
}

/* Colores */
.primary1{
    color: #967BA6;
}
.primary2{
    color: #CBC0D3;
}
.primary3{
    color: #E6E1EA;
}
.secondary1{
    color: #5F7470;
}
.secondary2{
    color: #CDD1BF;
}
.secondary3{
    color: #E8EAD9;
}
.tertiary1{
    color: #D6CCC2;
}
.tertiary2{
    color: #F3EDDE;
}
.tertiary3{
    color: #FAF6EC;
}
/* Fondos */
.fondoClaro{
    background-color: #FAF6EC;
    padding-top: 12px;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
}
.fondoMedio{
    background-color: #F3EDDE;
}
.fondoOscuro{
    background-color: #D6CCC2;
}
.banner-home{
    background-image: url("../media/images/banner_principal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    font-size: 24px;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}   
.bannerPf{
    display: flex;
    align-items: center;
    background-image: url("../media/images/banner-pf.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    color: white;
    padding-bottom: 12px;
}
h3{
    color: gainsboro;
}
.secundario{
    background-color: #E6E1EA;
    padding: 30px;
    border: 40px;
    text-align: center;
}
.logo-central{
    padding: 20px;
}
p{
    color: #333333;
}
h4{
    color: #333333;
    font-size: 12px;
}
.img{
    display: inline-block;
    padding: 20px;
    margin: 50px;
    border: 10px;
    align-content: center;
}
.logo-footer{
    display: inline-block;
}
.redes-footer{
    display: flex;
    padding: 8px;
    gap: 8px;
}

.title{
    text-align: center;
    color: #5F7470;
}
.header{
    background-color: #FAF6EC;
    padding: 0.5rem 3rem;
}

.productos-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 40px;
    align-items: center;
}

.img-vela{
    border-radius: 10px;
}

.destacados-home{
    text-align: center;
}

.titulo-productos{
    text-align: center;
    margin-top: 40px;
}
h2{
    color: #333333;
}

.preg-frecuentes{
    padding: 5rem;
    justify-items: center;
}

.title h3{
    text-decoration-color: #333333;
    text-align: center;
    padding-top: 2rem;
}


ul li{
    list-style-type: none;
}


.footer-container{
    display: flex;
    flex-direction: row;
    background-color: #D6CCC2;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
    
}

.footer-column{
    flex-grow: 1;
    padding: 1rem;
}

.footer-column ul li a{
    text-decoration: none;
    color: #967BA6;
    padding-bottom: 1rem;
    font-size: medium;
    font-weight: 500;
}

.footer-column ul li a:hover{
    color: #663a7f;
}

.copyright{
    text-align: center;
    background-color: #D6CCC2;
    padding-bottom: 10px;
}

.nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
}

.nosotros .text{
    align-self: center;
    padding: 0rem 10rem;
}

.nosotros .imagen-nosotros img{
    vertical-align: middle;
}


.column {
    width: 50%;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}

.banner {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
}
.column {
    flex: 1;
    padding: 10px;
    text-align: left;
}
.text-column {
    flex: 1;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}

.boton{
    background-color: #967BA6;
    color: #E8EAD9;
}

.boton :active{
    background-color: #663a7f;
}